/* .card {
    width: 50%;
    margin: auto;
    height: 400px;
    border: 2px solid black;
    box-shadow: red;
} */

.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
  }